<header class="topbar" id="Navegacion_Header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/App">
                <!-- Logo icon --><b>
                    <!-- You can put here icon as well // <i class="wi wi-sunset"></i> // -->
                    <!-- Dark Logo icon -->
                    <img src="/assets/images/Logos/logoWhite.png" alt="homepage" width="60" height="60"
                        class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="/assets/images/Logos/logoDark.png" alt="homepage" width="60" height="60"
                        class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class=" font-weight-bold">Call Phone Soft.</span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                {{!-- Menú --}}
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>
                </li>
                <li class="nav-item m-l-10"> <a
                        class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a>
                </li>
                <!-- ============================================================== -->
                <!-- Notificaciones -->
                <li class="nav-item dropdown">
                    <a id="iconNotificaciones"
                        class="nav-link dropdown-toggle text-muted waves-effect waves-dark notificaciones" href=""
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span id="numNotificaciones" class="numNotificaciones" style="display: none;">0</span>

                    </a>
                    <div class="dropdown-menu mailbox animated slideInUp">
                        <ul>
                            <li>
                                <div class="drop-title font-weight-bold text-color-verde">Notificaciones:</div>
                            </li>
                            <li>
                                <div id="ContenedorNotificaciones" class="message-center">

                                </div>
                            </li>
                            <li>
                                {{#xif session.Id_Rol '==' 1}}
                                <a class="nav-link text-center" href="/App/Admin/Notificaciones">
                                    <strong>Ver registro de notificaciones</strong> <i class="fa fa-angle-right"></i>
                                </a>
                                {{/xif}}
                                {{#xif session.Id_Rol '==' 2}}
                                <a class="nav-link text-center" href="/App/Coordinador/Notificaciones">
                                    <strong>Ver registro de notificaciones</strong> <i class="fa fa-angle-right"></i>
                                </a>
                                {{/xif}}
                                {{#xif session.Id_Rol '==' 3}}
                                <a class="nav-link text-center" href="/App/ContactCenter/Notificaciones">
                                    <strong>Ver registro de notificaciones</strong> <i class="fa fa-angle-right"></i>
                                </a>
                                {{/xif}}
                                {{#xif session.Id_Rol '==' 4}}
                                <a class="nav-link text-center" href="/App/AsesorInterno/Notificaciones">
                                    <strong>Ver registro de notificaciones</strong> <i class="fa fa-angle-right"></i>
                                </a>
                                {{/xif}}
                                {{#xif session.Id_Rol '==' 6}}
                                <a class="nav-link text-center" href="/App/GestionCliente/Notificaciones">
                                    <strong>Ver registro de notificaciones</strong> <i class="fa fa-angle-right"></i>
                                </a>
                                {{/xif}}
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Agenda -->
                <li class="nav-item dropdown">
                    {{#xif session.Id_Rol '==' 1}}
                    <a class="nav-link" href="/App/Admin/Agenda">
                        <i class="fa fa-calendar"></i>
                    </a>
                    {{/xif}}
                    {{#xif session.Id_Rol '==' 2}}
                    <a class="nav-link" href="/App/Coordinador/Agenda">
                        <i class="fa fa-calendar"></i>
                    </a>
                    {{/xif}}
                    {{#xif session.Id_Rol '==' 3}}
                    <a class="nav-link" href="/App/ContactCenter/Agenda">
                        <i class="fa fa-calendar"></i>
                    </a>
                    {{/xif}}
                    {{#xif session.Id_Rol '==' 4}}
                    <a class="nav-link" href="/App/AsesorInterno/Agenda">
                        <i class="fa fa-calendar"></i>
                    </a>
                    {{/xif}}
                    {{#xif session.Id_Rol '==' 6}}
                    <a class="nav-link" href="/App/GestionCliente/Agenda">
                        <i class="fa fa-calendar"></i>
                    </a>
                    {{/xif}}
                </li>
                {{!-- Llamadas --}}
                {{#xif session.Id_Rol '==' 1}}
                <li class="btn-group nav-item">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="ti-headphone-alt"></i>
                    </a>
                    <div class="dropdown-menu animated slideInUp">
                        <h5 class="dropdown-item titulo_header_llamadas">Realizar llamada:</h5>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/App/Admin/Llamadas/RegistrarNP">
                            <i class="mdi mdi-phone-plus"></i> Llamada <strong>NO</strong> precargada
                        </a>
                    </div>
                </li>
                {{/xif}}
                {{#xif session.Id_Rol '==' 3}}
                <li class="btn-group nav-item">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="ti-headphone-alt"></i>
                    </a>
                    <div class="dropdown-menu animated slideInUp">
                        <h5 class="dropdown-item titulo_header_llamadas">Realizar llamada:</h5>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/App/ContactCenter/Llamadas/RegistrarP">
                            <i class="mdi mdi-phone-log"></i> Llamada precargada
                        </a>
                        <a class="dropdown-item" href="/App/ContactCenter/Llamadas/RegistrarNP">
                            <i class="mdi mdi-phone-plus"></i> Llamada <strong>NO</strong> precargada
                        </a>
                    </div>
                </li>
                {{/xif}}
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" aria-haspopup="true"
                        aria-expanded="false" data-toggle="dropdown">
                        <img src="{{session.Host}}/Images/Usuarios/{{session.Usuario_Img}}" alt="Imagen_Usuario"
                            class="profile-pic">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img" id="ImgUsuarioHeader2">
                                        <img src="{{session.Host}}/Images/Usuarios/{{session.Usuario_Img}}"
                                            alt="Imagen_Usuario" class="profile-pic">
                                    </div>
                                    <div class="u-text">
                                        <h4 id="txtNombre_Usuario_Header">{{session.Usuario}}</h4>
                                        <p id="txtEmail_Header" class="text-muted">{{session.Email}}</p>

                                        {{#xif session.Id_Rol '==' 1 }}
                                        <a href="/App/Admin/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                            Ver mi perfil
                                        </a>
                                        {{/xif}}
                                        {{#xif session.Id_Rol '==' 2 }}
                                        <a href="/App/Coordinador/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                            Ver mi perfil
                                        </a>
                                        {{/xif}}
                                        {{#xif session.Id_Rol '==' 3 }}
                                        <a href="/App/ContactCenter/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                            Ver mi perfil
                                        </a>
                                        {{/xif}}
                                        {{#xif session.Id_Rol '==' 4 }}
                                        <a href="/App/AsesorInterno/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                            Ver mi perfil
                                        </a>
                                        {{/xif}}
                                        {{#xif session.Id_Rol '==' 6 }}
                                        <a href="/App/GestionCliente/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                            Ver mi perfil
                                        </a>
                                        {{/xif}}
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            {{#xif session.Id_Rol '==' 1 }}
                            <li>
                                <a href="/App/Admin/Configuracion">
                                    <i class="ti-settings"></i> Configuración del sistema
                                </a>
                            </li>
                            {{/xif}}

                            <li>
                                <div class="MyStyle_Tema_Switch">
                                    <div>
                                        <i class="fa fa-power-off"></i> Tema Oscuro
                                    </div>
                                    <div id="switch_input" class="switch" data-theme="Blanco">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Logout"><i class="fa fa-power-off"></i>
                                    Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>