<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Phone Soft</title>
    {{!-- Ícono --}}
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/Logos/favicon.png">

    {{!----------------------------------- CSS ----------------------------}}
    {{!-- Bootstrap Core CSS --}}
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mis estilos -->
    <link rel="stylesheet" href="/css/MyStyle.css">
    <!-- Custom CSS -->
    <link href="/css/style_Blanco.css" id="Style_Tema" rel="stylesheet">
    <!-- Tema de la plantilla -->
    <link href="/css/colors/Tema_Blanco.css" id="Tema" rel="stylesheet">

    {{>plugins-css}}

</head>

<body class="fix-header fix-sidebar card-no-border">

    {{>preloader}}

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header (Menú Horizontal) - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" id="Navegacion_Header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon --><b>
                            <!-- You can put here icon as well // <i class="wi wi-sunset"></i> // -->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>CallPhone Soft.</span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- ícono de menú  -->
                        <li class="nav-item"> <a
                                class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>
                        </li>
                        <li class="nav-item m-l-10"> <a
                                class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Notificaciones -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="mdi mdi-message"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated slideInUp">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notificaciones</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <a href="#">
                                                <div class="btn btn-info btn-circle"><i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5> Carlos Castillo</h5><span class="mail-desc">
                                                        Cita agendada para <strong
                                                            class="font-weight-bold">movistar.</strong>
                                                    </span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="btn btn-info btn-circle"><i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5> Carlos Castillo</h5><span class="mail-desc">
                                                        Cita agendada para <strong
                                                            class="font-weight-bold">movistar.</strong>
                                                    </span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="../Notificaciones/Notificaciones.html">
                                            <strong>
                                                Ver registro de notificaciones
                                            </strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Agenda -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="#"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-calendar"></i>
                                <div class="notify"> <span class="heartbit"></span><span class="point"></span> </div>
                            </a>
                        </li>


                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" 
                                aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                <img src="/assets/images/usuarios/{{session.Usuario_Img}}" alt="Imagen_Usuario" class="profile-pic">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img" id="ImgUsuarioHeader2">
                                                <img src="/assets/images/usuarios/{{session.Usuario_Img}}" alt="Imagen_Usuario" class="profile-pic">
                                            </div>
                                            <div class="u-text">
                                                <h4 id="txtNombre_Usuario_Header">{{session.Usuario}}</h4>
                                                <p id="txtEmail_Header" class="text-muted">{{session.Email}}</p>
                                                <a href="/App/Admin/Perfil" class="btn btn-rounded btn-danger btn-sm">
                                                    Ver mi perfil
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="../Panel Control/Panel.html">
                                            <i class="ti-settings"></i> Configuración del sistema
                                        </a>
                                    </li>
                                    <li>
                                        <div class="MyStyle_Tema_Switch">
                                            <div>
                                                <i class="fa fa-power-off"></i> Tema Oscuro
                                            </div>
                                            <div id="switch_input" class="switch" data-theme="Blanco">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="../../Login/Login.html"><i class="fa fa-power-off"></i>
                                            Cerrar Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar (Menú Vertical Izquierdo) - style you can find in sidebar.scss  -->
        <aside class="left-sidebar" id="Navegacion_Aside">
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img">
                        <img src="/assets/images/usuarios/{{session.Usuario_Img}}" alt="Imagen_Usuario">
                    </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <h5> {{session.Usuario}} </h5>
                        <small> Administardor</small>
                        <br>
                        <a href="/Logout" class="" data-toggle="tooltip" title="Cerrar Sesión">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">
                            <h4>Menú</h4>
                        </li>
                 
 
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                                    class="fa fa-bell"></i><span class="hide-menu">Notificaciones</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/App/Coordinador/Notificaciones">Gestionar notificaciones</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                                    class="fa fa-user"></i><span class="hide-menu">Usuarios y Empleados</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/App/Coordinador/Usuarios">Gestionar usuarios</a></li>
                                <li><a href="/App/Coordinador/Usuarios/Registro">Registrar usuarios</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            {{>titulo-eskatemp}}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    </div>

    {{>plugins-scripts}}

    
</body>

</html>